body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #141414;
    color: white;
}

.auth-container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color: #333;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.auth-box {
    display: block;
}

h2 {
    margin-bottom: 20px;
    text-align: center;
}

.input-group {
    margin-bottom: 10px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #222;
    color: white;
}

.submit-btn {
    width: 100%;
    padding: 10px;
    background-color: #e50914;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    color: white;
}

.submit-btn:hover {
    background-color: #f40612;
}

a {
    color: #e50914;
}

a:hover {
    text-decoration: underline;
}
